.product-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #46914e;
  text-decoration: none;
}

.product-card__img {
  max-width: 300px;
  width: 100%;
}

.product-card__title {
  width: 100%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.product-card__price {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;color: #000000;
}
